name: Create Release

on:
  push:
    branches:
      - stable

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm test

      - name: Get version
        id: package_version
        run: echo "::set-output name=version::$(node -p "require('./package.json').version")"

      - name: Create Release
        id: create_release
        run: |
          gh release create ${{ steps.package_version.outputs.version }} \
            --title "Release ${{ steps.package_version.outputs.version }}" \
            --notes "" \
            --repo ${{ github.repository }} \
            --target ${{ github.sha }} \
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Upload Release Asset
        run: |
          gh release upload ${{ steps.package_version.outputs.version }} ./react-style-text-${{ steps.package_version.outputs.version }}.tgz
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
